/*

!src/
!tests/
!docs/
!examples/
!.github/

!.gitignore
!README.md
!LICENSE
!pyproject.toml
!uv.lock
!.pre-commit-config.yaml
!mkdocs.yml
!generate_graph_examples.py
!.python-version

# recursively re-ignore
__pycache__
